html, body{ margin:0; height:100%; overflow: hidden;}
div{
    /* border: 1px red solid; */
    box-sizing: border-box;
}

video{
    object-fit: fill;
}

.videoFrame{
    width: 100%;
    height: 100%;
    /* border: 1px #9e9e9e solid; */
    box-sizing: border-box;
    position: absolute;
}

.videoFrame2{
    width: 150px;
    height: 90px;
    /* border: 1px #9e9e9e solid; */
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.main{
    height: 100%;
    width: 100%
}

.console{
    color: white;
    font-weight: 300;
    color: rgb(176, 202, 219);
    text-align: center;
    position: absolute;
    bottom: 20px;
    left:50%;
    margin-left:-40px;
}


.content-subhead{
    text-transform: uppercase;
    color: #aaa;
    /* border-bottom: 1px solid #eee; */
    padding: 0.4em 0;
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.waiting{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#selfVideo{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.buttonBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.exitBtn{
    position: absolute;
    top:5px;
    right: 5px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 80px;
    border-radius:50%;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.six_zero_sec_left{
    color: red;
}
#bitrateDiv{
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.logConsole {
    border: 1px solid gray;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    overflow-x: hidden;
}