<uku-component>
        <template>
            <div style="height: 100%;">
                <div class="center">
                    <div id="bg"></div>
                    <div class="center">
                        <form class="pure-form">
                            <fieldset>
                                <legend>分配客户端</legend>
                                <select style="width: 190px;height:50px" uku-selected="cc.selectedClient|name" uku-onchange="cc.hiddenErrorMsg()">
                                    <option uku-repeat="client in cc.availableClients" uku-value="client.name" uku-data-item="client" uku-text="client.name"></option>
                                </select>
                                <legend>客户端配色</legend>
                                <div style="display: flex;align-items: center;">
                                    <input class="colorPicker" type="color" uku-value="cc.selectedClient.color">
                                    <span style="margin-left:20px;color:white">{{cc.selectedClient.color}}</span>
                                </div>
                                
                            </fieldset>
                            <span id="errorMsg" class="errorMsg" uku-text="cc.errorMs">
                            </span>
                            <fieldset>
                                <button type="button" class="pure-button button-error2" style="margin-right: 50px" uku-onclick="cc.clear()">重置服务器配置</a>
                                <button type="button" class="pure-button pure-button-primary" style="margin-right: 50px" uku-onclick="cc.save()">保存</a>
                                <button type="button" class="pure-button" uku-onclick="cc.cancel()">取消</a>
                            </fieldset>
                        </form>
                    </div>
                </div> 
            </div>
        </template>
        <script>
            (function(ajax, jq){
                return function(uku){
                    this.clients = [];
                    this.availableClients = [];
                    this.selectedClient = {};
                    this.alias = '';
                    this.errorMsg = '';
                    if(localStorage.getItem('client')){
                        //this.alias = JSON.parse(localStorage.getItem('client')).alias;
                    }
                    var self = this;
                    var errMsg = jq('#errorMsg');
                    this.init = function(){
                        getClients({isCompleted:false});
                    }

                    this.save = function(){
                        var clientName = this.selectedClient.name;
                        var clientColor = this.selectedClient.color;
                        alert(clientName);
                        if(clientName && clientColor){
                            ajax.put('/api/clients',{name:clientName,color:clientColor})
                            .then(function(res){
                                var client = res.data;
                                localStorage.setItem('client',JSON.stringify(client));
                                self.fire('settingssaved');
                            })
                            .catch(function(err){
                                self.errorMsg = err.message;
                                uku.refresh();
                                errMsg.show();
                                errMsg.animateCss('fadeIn');
                            })
                        }
                    };
                    this.hiddenErrorMsg = function(){
                        if(errMsg.is(':visible')){
                            errMsg.animateCss('fadeOut', function(){
                                errMsg.hide();
                            });
                        }
                    };
                    this.cancel = function(){
                        this.fire('cancelchooseclient');
                    };

                    this.clear = function(){
                        ajax.delete('/api/clients')
                        .then(function(res){
                            localStorage.removeItem('client');
                            self.fire('settingsdeleted');
                        })
                        .catch(function(err){
                            alert(err.response.data.message);                    
                            localStorage.removeItem('client');
                            self.fire('settingsdeleted');
                        });
                    };

                    function getClients(){
                        ajax.get('/api/uncompleted_clients')
                        .then(function(res){
                            self.clients = res.data;
                            self.availableClients = self.clients;//wrapChannels(self.channels);
                            self.selectedClient = self.availableClients[0];
                            uku.refresh();
                        })
                        .catch(function(err){
                            console.log(err);
                        })
                    }
                };
            })(axios, $);
        </script>
        <style>
            legend{
                color:#795548;
            }
            .colorPicker{
                width: 80px;
                height: 50px;
                padding: 0 !important;
                margin: 0 !important;
                border: 0 !important;
            }
            .errorMsg{
                background: red;
                color: white;
                padding: 5px 10px;
                border-radius: 5px;
                display: none;
            }
            
            .center{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .button-xlarge {
                font-size: 125%;
            }
            #bg{
                width: 1000px;
                height: 400px;
                background-position:center;
                background-repeat: no-repeat;
                background-image: url("demos/images/icu/hospital.jpeg");
                -webkit-filter: blur(3px);
                filter: blur(3px);
            }
        </style>
    </uku-component>