<uku-component>
    <template>
        <div class="pure-g container">
            <div class="pure-u-1 pure-u-md-3-4 main">
                <h1 class="waiting content-subhead" uku-render="cc.currentState !== 'inMeeting'">
                    {{cc.message}}
                </h1>
                <div class="videoFrame">
                    <video autoplay="autoplay" playsinline="playsinline" style="height: 100%;width: 100%" id="callerVideo"></video>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-4 sub">
                <div class="pure-g height100">
                    <div class="pure-u-1-2 pure-u-md-1 self">
                        <h1 class="waiting content-subhead" uku-render="cc.loadCamera">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                            正在开启摄像头...
                        </h1>
                        <div class="videoFrame">
                            <video autoplay="autoplay" playsinline="playsinline" style="height: 100%;width: 100%" id="selfVideo" muted="muted" volume="0"></video>
                        </div>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1 console">
                        <div class="buttonBox">
                            <div uku-render="cc.currentState ==='standby'">
                                <button type="button" class="pure-button button-success" uku-onclick="cc.call()">
                                    <i class="fa fa-phone fa-lg">{{' 呼叫 ' + cc.otherClientName}}</i>
                                </button>
                            </div>
                            <div uku-render="cc.currentState ==='calling'">
                                <h3 class="post-title">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                    <span>
                                        {{'正在呼叫 '+ cc.otherClientName}}
                                    </span>
                                </h3>
                                <button type="button" class="pure-button button-error" uku-onclick="cc.cancelCall()">
                                    <i class="fa fa-ban fa-lg">
                                        取消呼叫
                                    </i>
                                </button>
                            </div>
                            <div uku-render="cc.currentState==='called'">
                                <h3 class="post-title">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                    <span>
                                        {{'来自 ' + cc.callerName +' 视频电话'}}
                                    </span>
                                </h3>
                                <button type="button" class="pure-button button-success" style="margin-top:10px" uku-onclick="cc.accept()">
                                    <i class="fa fa-phone fa-lg">
                                        接听
                                    </i>
                                </button>
                                <button type="button" class="pure-button button-error" style="margin-top:10px" uku-onclick="cc.reject()">
                                    <i class="fa fa-ban fa-lg">
                                        拒绝
                                    </i>
                                </button>
                            </div>
                            <div uku-render="cc.currentState==='inMeeting'">
                                <h2 class="post-title">剩余通话时间</h2>
                                <h2 id="timeleft" class="post-title">{{cc.timeDisplay}}</h2>
                                <button type="button" class="pure-button button-error" uku-onclick="cc.hangUp()">
                                    <i class="fa fa-ban fa-lg">
                                        结束通话
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div class="exitBtn">
                            <i class="fa fa-window-close-o fa-lg" uku-onclick="cc.exit(true)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <audio id="ring" src="demos/mp3/weixin_call.mp3" loop></audio>
        </div>
    </template>
    <script>
        (function (jq) {
            return function (uku) {
                this.message = '等待对方加入...';
                this.loadCamera = true;
                this.currentState = '';
                this.time = 2 * 60 * 1000;
                var autoExitTimeLeft = 15;
                this.timeDisplay = "";
                this.peer = null;
                var selfEasyrtcid = "";
                var callerId = "";
                var self = this;
                var acceptorHandler;

                this.timeDisplayFunc = function () {
                    var tmp = new Date(this.time);
                    var min = tmp.getMinutes();
                    if (min < 10) {
                        min = '0' + min;
                    }
                    var sec = tmp.getSeconds();
                    if (sec < 10) {
                        sec = '0' + sec;
                    }
                    this.timeDisplay = min + ':' + sec;
                    uku.refresh();
                }

                this.exit = function (e, isActive) {
                    resetFlags();
                    var room = self.peer.channel.id;
                    easyrtc.leaveRoom(room);
                    easyrtc.disconnect();
                    this.currentState = "exit";
                    easyrtc.setDisconnectListener(function () {
                        easyrtc.closeLocalMediaStream();
                        self.fire('exitvideochat', {
                            'isActive': isActive
                        });
                    });

                }
                var timerAutoExit;
                var timerCountdown;
                this.init = function (peer) {
                    resetFlags();
                    this.peer = peer;
                    uku.refresh();
                    easyrtc.setVideoDims(1280, 720);
                    easyrtc.setUsername(peer.alias);
                    easyrtc.setRoomOccupantListener(roomOccupantHandler);
                    easyrtc.easyApp("easyrtc.audioVideoSimple", "selfVideo", ["callerVideo"],
                        function loginSuccess(easyrtcid) {
                            console.log('login easyrtc Success');
                            selfEasyrtcid = easyrtcid;
                            self.loadCamera = false;
                            easyrtc.joinRoom(room, null, function successCB() {
                                console.log('join room success');
                            }, function failureCB(err) {
                                console.log('join room falied', err);
                            });
                            uku.refresh();
                        },
                        function loginFailure(errorCode, message) {
                            console.log('login easyrtc failed');
                            easyrtc.showError(errorCode, message);
                        });
                    var room = peer.channel.id;

                    easyrtc.setAcceptChecker(function (easyrtcid, acceptor) {
                        console.log('acceptor ', easyrtcid);
                        self.callerName = easyrtc.idToName(easyrtcid);
                        acceptorHandler = acceptor;
                        self.currentState = 'called';
                        uku.refresh();
                    });
                    easyrtc.setCallCancelled(function (easyrtcid, explicitlyCancelled) {
                        if (explicitlyCancelled) {
                            self.currentState = 'standby';
                            uku.refresh();
                        }
                    });
                    easyrtc.setPeerClosedListener(function () {
                        console.log('PeerClosed');
                        self.currentState = 'standby';
                        uku.refresh();
                    });
                };

                this.accept = function () {
                    this.currentState = 'inMeeting';
                    acceptorHandler(true);
                    timerCountdown = setInterval(countdown, 1000);
                };
                this.reject = function () {
                    acceptorHandler(false);
                    this.currentState = 'standby';
                };

                this.call = function () {
                    if (callerId) {
                        performCall(callerId);
                    }
                    this.currentState = 'calling';
                };

                this.cancelCall = function () {
                    easyrtc.hangupAll();
                    this.currentState = 'standby';
                }

                this.hangUp = function () {
                    easyrtc.hangupAll();
                    this.currentState = 'standby';
                    this.exit();
                };

                var _currentState;
                Object.defineProperty(this, 'currentState', {
                    set(value) {
                        _currentState = value;
                        if (_currentState === 'calling' || _currentState === 'called') {
                            document.getElementById('ring').play();
                        } else {
                            document.getElementById('ring').pause();
                        }
                        if (_currentState === 'init' || _currentState === 'standby') {
                            
                            console.log('start timer', timerAutoExit, _currentState);
                            if (timerAutoExit) {
                                clearInterval(timerAutoExit);
                            }
                            autoExitTimeLeft = 15;
                            timerAutoExit = setInterval(function () {      
                                self.message = '对方已就绪, 若'+ autoExitTimeLeft +'秒内不发起通话则自动退出';
                                autoExitTimeLeft--;
                                uku.refresh();
                                if(autoExitTimeLeft < 0){
                                    self.exit();
                                }         
                            }, 1000);

                        } else {
                            if (timerAutoExit) {
                                clearInterval(timerAutoExit);
                                console.log('clear timer', timerAutoExit, _currentState);
                            }
                        }
                        updateMessage(_currentState);
                    },
                    get() {
                        return _currentState;
                    }

                });

                function roomOccupantHandler(roomName, data, isPrimary) {
                    var keys = Object.keys(data);
                    if (keys.length === 0) {
                        return;
                    }
                    callerId = keys[0];
                    self.currentState = 'standby';
                    self.otherClientName = easyrtc.idToName(callerId);
                    uku.refresh();
                }

                function performCall(otherEasyrtcid) {
                    easyrtc.hangupAll();
                    var successCB = function () {
                        console.log('performCall Success');
                        self.currentState = 'inMeeting';
                        uku.refresh();
                    };
                    var failureCB = function () {};
                    var wasAcceptedCB = function (wasAccepted, easyrtcid) {
                        if (wasAccepted) {
                            console.log("call accepted by " + easyrtc.idToName(easyrtcid));
                            self.currentState = 'inMeeting';
                            uku.refresh();
                            timerCountdown = setInterval(countdown, 1000);
                        } else {
                            console.log("call rejected" + easyrtc.idToName(easyrtcid));
                            self.currentState = 'standby';
                            uku.refresh();
                        }
                    };
                    easyrtc.call(otherEasyrtcid, successCB, failureCB, wasAcceptedCB);
                }

                function resetFlags() {
                    autoExitTimeLeft = 15;
                    self.message = '等待对方加入...';
                    self.loadCamera = true;
                    self.currentState = 'init';
                    self.time = 2 * 60 * 1000;
                    self.timeDisplay = "";
                    selfEasyrtcid = "";
                    callerId = "";
                    jq('#timeleft').removeClass('six_zero_sec_left');
                    if (timerAutoExit) {
                        clearTimeout(timerAutoExit);
                    }
                    if (timerCountdown) {
                        clearInterval(timerCountdown);
                    }
                }

                function countdown() {
                    self.time -= 1000;
                    self.timeDisplayFunc();
                    if (self.time === 60 * 1000) {
                        jq('#timeleft').addClass('six_zero_sec_left');
                    }
                    if (self.time === 0) {
                        clearInterval(timerCountdown);
                        self.exit();
                    }
                }
                function updateMessage(state){
                    
                    switch(state){
                        case 'init':
                            self.message = '等待对方加入...';
                            break;
                        case 'standby':
                            self.message = '对方已就绪, 若15秒内不发起通话则自动退出';
                            break;
                        default:
                            self.message = '等待对方加入...';
                    }
                    uku.refresh();
                }
            }
        })($)
    </script>
</uku-component>