<uku-component>
    <template>
        <div class="pure-g container">
            <div class="pure-u-1 pure-u-md-3-4 main">
                <h1 class="waiting content-subhead" uku-render="cc.waitingJoin">等待对方加入...</h1>
                <video autoplay="autoplay" playsinline="playsinline" style="height: 100%;width: 100%" id="callerVideo"></video>
            </div>
            <div class="pure-u-1 pure-u-md-1-4 sub">
                <div class="pure-g height100">
                    <div class="pure-u-1-2 pure-u-md-1 self">
                        <h1 class="waiting content-subhead" uku-render="cc.loadCamera">正在开启摄像头...</h1>
                        <video autoplay="autoplay" playsinline="playsinline" style="height: 100%;width: 100%" id="selfVideo" muted="muted" volume="0"></video>
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1 console">
                        <div uku-render="cc.canInvite && !cc.hasInvite">
                            <button type="button" class="pure-button pure-button-primary" uku-onclick="cc.call()">{{'呼叫 ' + cc.otherClientName}}</button>
                        </div>
                        <div uku-render="cc.isCalling">
                            <h2 class="post-title">{{'正在呼叫 '+ cc.otherClientName}}</h2>
                            <button type="button" class="pure-button" uku-onclicl="cc.cancelCall()">取消呼叫</button>
                        </div>
                        <div uku-render="cc.hasInvite">
                            <h2 class="post-title">{{'来自 ' + cc.callerName +' 的通话邀请'}}</h2>
                            <button type="button" class="pure-button pure-button-primary" uku-onclick="cc.accept()">接受</button>
                            <button type="button" class="pure-button" uku-onclick="cc.reject()">拒接</button>
                        </div>
                        <div uku-render="cc.inMeeting">
                            <h2 class="post-title">通话时间</h2>
                            <h2 class="post-title">{{cc.time}}</h2>
                            <button type="button" class="pure-button pure-button-primary" uku-onclick="cc.hangUp()">挂断</button>
                        </div>
                        <div>
                            <button type="button" class="pure-button" uku-onclick="cc.exit()">退出</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        (function () {
            return function (uku) {
                this.loadCamera = true;
                this.waitingJoin = true;
                this.hasInvite = false;
                this.inMeeting = false;
                this.isCalling = false;
                this.time = "00:00";
                var isOccupy = false;
                var selfEasyrtcid = "";
                var callerId = "";
                var self = this;
                var acceptorHandler;

                this.exit = function(){
                    easyrtc.disconnect();
                    easyrtc.setDisconnectListener(function(){
                        easyrtc.closeLocalMediaStream();
                    });
                    this.fire('exitvideochat');
                }
                var timer;
                this.init = function (peer) {
                    uku.refresh();
                    easyrtc.setVideoDims(720, 720);
                    easyrtc.setUsername(peer.alias);
                    easyrtc.setRoomOccupantListener(roomOccupantHandler);
                    easyrtc.easyApp("easyrtc.audioVideoSimple", "selfVideo", ["callerVideo"], loginSuccess,
                        loginFailure);
                    var room = peer.channel.id;
                    easyrtc.joinRoom(room, null, function successCB() {
                        console.log('join room success');
                    }, function failureCB(err) {
                        console.log('join room falied', err);
                    });
                    easyrtc.setAcceptChecker(function (easyrtcid, acceptor) {
                        console.log('acceptor ', easyrtcid);
                        self.hasInvite = true;
                        self.callerName = easyrtc.idToName(easyrtcid);
                        acceptorHandler = acceptor;
                        uku.refresh();
                    });
                    // easyrtc.setCallCancelled(function(easyrtcid, explicitlyCancelled){
                    //     console.log('cancel call by ',easyrtcid,explicitlyCancelled);
                    // });
                    easyrtc.setPeerClosedListener(function () {
                        console.log('PeerClosed');
                        self.hasInvite = false;
                        self.inMeeting = false;
                        self.waitingJoin = true;
                        self.canInvite = true;
                        uku.refresh();
                    });
                    // timer = setTimeout(function(){
                    //     self.exit();
                    // },300*1000);
                };

                this.accept = function () {
                    acceptorHandler(true);
                    this.hasInvite = false;
                    this.waitingJoin = false;
                    this.inMeeting = true;
                    this.canInvite = false;
                    this.isCalling = false;
                };
                this.reject = function() {
                    acceptorHandler(false);
                    this.hasInvite = false;
                    this.waitingJoin = true;
                    this.inMeeting = false;
                    this.canInvite = true;
                    this.isCalling = false;
                };

                this.call = function () {
                    if (callerId) {
                        performCall(callerId);
                    }
                    this.canInvite = false;
                    this.isCalling = true;
                    clearTimeout(timer);
                };

                this.cancelCall = function(){
                    this.canInvite = true;
                    this.isCalling = false;
                    easyrtc.hangupAll();
                }

                this.hangUp = function () {
                    easyrtc.hangupAll();
                    this.inMeeting = false;
                    this.waitingJoin = true;
                    this.canInvite = true;
                };

                function roomOccupantHandler(roomName, data, isPrimary) {   
                    var keys = Object.keys(data);
                    if (keys.length === 0) {
                        return;
                    }
                    callerId = keys[0];
                    self.canInvite = true;
                    self.otherClientName = easyrtc.idToName(callerId);
                    uku.refresh();
                }

                function performCall(otherEasyrtcid) {
                    easyrtc.hangupAll();
                    var successCB = function () {
                        console.log('performCall Success');
                        self.waitingJoin = false;
                        self.inMeeting = true;
                        self.canInvite = false;
                        uku.refresh();
                    };
                    var failureCB = function () {};
                    var wasAcceptedCB = function (wasAccepted, easyrtcid) {
                        if (wasAccepted) {
                            console.log("call accepted by " + easyrtc.idToName(easyrtcid));                    
                            self.canInvite = false;
                            self.inMeeting = true;
                            uku.refresh();
                        } else {
                            console.log("call rejected" + easyrtc.idToName(easyrtcid));
                            self.isCalling = false;
                            self.canInvite = true;
                            uku.refresh();
                        }
                    };
                    easyrtc.call(otherEasyrtcid, successCB, failureCB, wasAcceptedCB);
                }

                function loginSuccess(easyrtcid) {
                    console.log('login Success');
                    selfEasyrtcid = easyrtcid;
                    self.loadCamera = false;
                    uku.refresh();
                }

                function loginFailure(errorCode, message) {
                    easyrtc.showError(errorCode, message);
                }
            }
        })()
    </script>
</uku-component>