<uku-component>
    <template>
        <div class="pure-g container">
            <div class="pure-u-1 pure-u-md-3-4 main">
                <h1 class="waiting content-subhead" uku-render="cc.waitingJoin">
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                    等待对方加入...
                </h1>
                <div class="videoFrame">
                        <video autoplay="autoplay" playsinline="playsinline" style="height: 100%;width: 100%" id="callerVideo"></video>
                </div>        
            </div>
            <div class="pure-u-1 pure-u-md-1-4 sub">
                <div class="pure-g height100">
                    <div class="pure-u-1-2 pure-u-md-1 self">
                        <h1 class="waiting content-subhead" uku-render="cc.loadCamera">                     
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                            正在开启摄像头...
                        </h1>
                        <div class="videoFrame">
                            <video autoplay="autoplay" playsinline="playsinline" style="height: 100%;width: 100%" id="selfVideo" muted="muted" volume="0"></video>
                        </div>               
                    </div>
                    <div class="pure-u-1-2 pure-u-md-1 console">
                        <div class="buttonBox">
                            <div uku-render="cc.currentState ==='standby'">
                                <button type="button" class="pure-button button-success" uku-onclick="cc.call()">
                                    <i class="fa fa-phone fa-lg">{{'  呼叫 ' + cc.otherClientName}}</i>   
                                </button>
                            </div>
                            <div uku-render="cc.currentState ==='calling'">
                                <h3 class="post-title">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                    <span>
                                        {{'正在呼叫 '+ cc.otherClientName}}
                                    </span>
                                </h3>
                                <button type="button" class="pure-button button-error" uku-onclick="cc.cancelCall()">
                                    <i class="fa fa-ban fa-lg">
                                        取消呼叫
                                    </i>                   
                                </button>
                            </div>
                            <div uku-render="cc.currentState==='called'">
                                <h3 class="post-title">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                    <span>
                                        {{'来自 ' + cc.callerName +' 视频电话'}}
                                    </span> 
                                </h3>
                                <button type="button" class="pure-button button-success" uku-onclick="cc.accept()">           
                                    <i class="fa fa-phone fa-lg">
                                        接听
                                    </i>
                                </button>
                                <button type="button" class="pure-button button-error" uku-onclick="cc.reject()">
                                    <i class="fa fa-ban fa-lg">
                                        拒绝
                                    </i>
                                </button>
                            </div>
                            <div uku-render="cc.currentState==='inMeeting'">
                                <h2 class="post-title">通话时间</h2>
                                <h2 class="post-title">{{cc.timeDisplay}}</h2>
                                <button type="button" class="pure-button button-error" uku-onclick="cc.hangUp()">
                                    <i class="fa fa-ban fa-lg">
                                        结束通话
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div class="exitBtn">
                            <i class="fa fa-window-close-o fa-lg" uku-onclick="cc.exit(true)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <audio id="ring" src="demos/mp3/weixin_call.mp3" loop></audio>
        </div>
    </template>
    <script>
        (function () {
            return function (uku) {
                this.loadCamera = true;
                this.currentState = '';    
                this.time = 10 * 60 * 1000;
                this.timeDisplay = "";
                this.peer = null;
                var selfEasyrtcid = "";
                var callerId = "";
                var self = this;
                var acceptorHandler;

                this.timeDisplayFunc = function(){
                    var tmp = new Date(this.time);
                    this.timeDisplay = tmp.getMinutes() + ':' + tmp.getSeconds();
                    uku.refresh();
                }

                this.exit = function(e,isActive){
                    var room = this.peer.channel.id;
                    easyrtc.leaveRoom(room);
                    easyrtc.disconnect();
                    easyrtc.setDisconnectListener(function(){
                        easyrtc.closeLocalMediaStream();
                    });
                    this.fire('exitvideochat',{'isActive':isActive});    
                }
                var timerAutoExit;
                var timerCountdown;
                this.init = function (peer) {
                    resetFlags();
                    this.peer = peer;
                    uku.refresh();
                    easyrtc.setVideoDims(1280, 720);
                    easyrtc.setUsername(peer.alias);
                    easyrtc.setRoomOccupantListener(roomOccupantHandler);
                    easyrtc.easyApp("easyrtc.audioVideoSimple", "selfVideo", ["callerVideo"], loginSuccess,
                        loginFailure);
                    var room = peer.channel.id;
                    easyrtc.joinRoom(room, null, function successCB() {
                        console.log('join room success');
                    }, function failureCB(err) {
                        console.log('join room falied', err);
                    });
                    easyrtc.setAcceptChecker(function (easyrtcid, acceptor) {
                        console.log('acceptor ', easyrtcid);
                        self.callerName = easyrtc.idToName(easyrtcid);
                        acceptorHandler = acceptor;
                        self.currentState = 'called';
                        document.getElementById('ring').play();
                        uku.refresh();
                    });
                    easyrtc.setCallCancelled(function(easyrtcid, explicitlyCancelled){
                        if(explicitlyCancelled){
                            self.currentState = 'standby';
                            document.getElementById('ring').pause();
                            uku.refresh();
                        }
                    });
                    easyrtc.setPeerClosedListener(function () {
                        console.log('PeerClosed');
                        self.currentState = 'standby';
                        uku.refresh();
                    });

                    // timerAutoExit = setTimeout(function(){
                    //     self.exit();
                    // },30*1000);
                };

                //states
                //0. no_standy
                //1. standby
                //2. calling  & being_called
                //3. in_meeting

                this.accept = function () {
                    document.getElementById('ring').pause();
                    this.currentState = 'inMeeting';
                    acceptorHandler(true);
                    timerCountdown = setInterval(function(){
                        self.time -= 1000;
                        self.timeDisplayFunc();
                    },1000);
                };
                this.reject = function() {
                    acceptorHandler(false);
                    this.currentState = 'standby';
                    document.getElementById('ring').pause();
                };

                this.call = function () {
                    if (callerId) {
                        performCall(callerId);
                    }
                    
                    this.currentState = 'calling';
                    document.getElementById('ring').play();
                    //clearTimeout(timer);
                };

                this.cancelCall = function(){
                    easyrtc.hangupAll();
                    this.currentState = 'standby';
                    document.getElementById('ring').pause();
                }

                this.hangUp = function () {
                    easyrtc.hangupAll();
                    this.currentState = 'standby';
                };

                function roomOccupantHandler(roomName, data, isPrimary) {   
                    var keys = Object.keys(data);
                    if (keys.length === 0) {
                        return;
                    }
                    callerId = keys[0];
                    self.currentState = 'standby';
                    self.otherClientName = easyrtc.idToName(callerId);
                    uku.refresh();
                }

                function performCall(otherEasyrtcid) {
                    easyrtc.hangupAll();
                    var successCB = function () {
                        console.log('performCall Success');
                        self.currentState = 'inMeeting';
                        uku.refresh();
                    };
                    var failureCB = function () {};
                    var wasAcceptedCB = function (wasAccepted, easyrtcid) {
                        if (wasAccepted) {
                            console.log("call accepted by " + easyrtc.idToName(easyrtcid));                    
                            self.currentState = 'inMeeting';
                            uku.refresh();
                            timerCountdown = setInterval(function(){
                                self.time -= 1000;
                                self.timeDisplayFunc();
                            },1000);
                        } else {
                            console.log("call rejected" + easyrtc.idToName(easyrtcid));
                            self.currentState = 'standby';
                            uku.refresh();
                        }
                        document.getElementById('ring').pause();
                    };
                    easyrtc.call(otherEasyrtcid, successCB, failureCB, wasAcceptedCB);
                }

                function loginSuccess(easyrtcid) {
                    console.log('login Success');
                    selfEasyrtcid = easyrtcid;
                    self.loadCamera = false;
                    uku.refresh();
                }

                function loginFailure(errorCode, message) {
                    easyrtc.showError(errorCode, message);
                }

                function resetFlags(){
                    self.loadCamera = true;
                    self.currentState = '';
                    self.time = 10 * 60 * 1000;
                    self.timeDisplay = "";
                    self.peer = null;
                    selfEasyrtcid = "";
                    callerId = "";
                }
            }
        })()
    </script>
</uku-component>