<uku-component>
        <template>
            <div style="height: 100%;">
                <div class="center">
                    <div id="bg"></div>
                    <h1>ICU视频探视系统</h1>
                    <h4>上海市第一人民医院</h4>
                    <button type="button" class="center pure-button pure-button-primary" uku-onclick="cc.enter()">
                        <i class="fa fa-hand-o-right fa-lg">
                            进入
                        </i>
                    </button>
                    <!-- <i uku-render="!cc.isFullScreen" class="fa fa-window-maximize fa-lg fullScreen" uku-onclick="cc.fullScreen()"></i> -->
                    <i class="fa fa-gear fa-lg setting" uku-onclick="cc.setting()"></i>
                </div>             
            </div>
        </template>
        <script>
            (function(){
                return function(uku){

                    this.setting = function(){
                        this.fire('entersettings');
                    };

                    this.enter = function(){
                        this.fire('enterevent');
                    };
                };
            })();
        </script>
        <style>
            h1{
                color: #eae3e3;
                padding-left: 10px;
                position: absolute;
                top: 0px;
                margin: 10px;
            }
            
            .center{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            h4{
                color: white;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-bottom: 5px;
            }
            .fullScreen{
                position: absolute;
                top: 10px;
                right: 40px;
                color: #795548;
            }
            .setting{
                right: 10px;
                top: 10px;
                position: absolute;
                color: #795548;
            }

            .button-xlarge {
                font-size: 125%;
            }
            #bg{
                width: 1000px;
                height: 300px;
                background-position:center;
                background-repeat: no-repeat;
                background-image: url("demos/images/icu/hospital.jpeg");
                -webkit-filter: blur(3px);
                filter: blur(3px);
            }
        </style>
    </uku-component>